.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .page-link, .page-link.active {
        color: white;
        background-color: transparent;
        border-color: transparent;
        font-size: 2rem;
    }
    
    .active > .page-link, .page-link.active {
        color: white;
        background-color: #fb49fb;
        border-color: transparent;
    }
  }